 .navbar{
  background-color: #0052A5;
  min-height:28px !important;
}

.navbar-toggle
{
    position:relative;
    float:right;
    padding:9px 10px;
    margin-top:8px;
    margin-right:15px;
    margin-bottom:8px;
    background-color:white;
    background-image:none;
    border:1px solid #B0C4DE; 
    border-radius:4px
}
.icon-bar
{
    display:block;
    width:22px;
    height:2px;
    border-radius:1px;
    border:1px solid #B0C4DE;
}


navbar-nav > li > a, .navbar-brand {
    padding-top:5px !important; 
    padding-bottom:0 !important;
    height: 25px;
}


.navbar-brand{
  font-size: 30px !important;
}

.navbar-brand:hover{
  color:  #B0C4DE;
}

.navbar-text{
  color:white;
  font-family: Palatino;
}

a{
	color:white;
	padding-top:8px;
	font-family: Palatino;
	font-size: 20px;
}

a:hover{
	padding-top:20px;
	color:#0052A5;
}
