# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# PyCharm IDE Files
.idea/*

# macOS Files
.DS_Store

# __pycache__ Pre-compiled Byte Code
**/__pycache__/

# .pyc
*.pyc
app/*.pyc

# Log where info goes when npm start has problems
npm-debug.log

# pylintrc
.pylintrc