apturl==0.5.2
astroid==1.4.8
autopep8==1.2.4
awsebcli==3.8.1
beautifulsoup4==4.4.1
blessed==1.9.5
blinker==1.3
boto3==1.4.1
botocore==1.4.62
Brlapi==0.6.4
cement==2.8.2
chardet==2.3.0
checkbox-support==0.22
click==6.6
colorama==0.3.7
command-not-found==0.3
coverage==4.2
cryptography==1.2.3
cycler==0.10.0
decorator==4.0.10
defer==1.0.6
docker-py==1.7.2
dockerpty==0.4.1
docopt==0.6.2
docutils==0.12
entrypoints==0.2.2
feedparser==5.1.3
Flask==0.11.1
Flask-Restless==0.17.0
Flask-SQLAlchemy==2.1
guacamole==0.9.2
html5lib==0.999
httplib2==0.9.1
idna==2.0
ipykernel==4.5.0
ipython==5.1.0
ipython-genutils==0.1.0
ipywidgets==5.2.2
isort==4.2.5
itsdangerous==0.24
Jinja2==2.8
jmespath==0.9.0
jsonschema==2.5.1
jupyter==1.0.0
jupyter-client==4.4.0
jupyter-console==5.0.0
jupyter-core==4.2.0
language-selector==0.1
lazy-object-proxy==1.2.2
louis==2.6.4
lxml==3.5.0
Mako==1.0.3
MarkupSafe==0.23
matplotlib==1.5.3
mccabe==0.5.2
mimerender==0.6.0
mistune==0.7.3
nbconvert==4.2.0
nbformat==4.1.0
notebook==4.2.3
numpy==1.11.1
oauthlib==1.0.3
onboard==1.2.0
padme==1.1.1
pandas==0.18.1
pathspec==0.3.4
pep8==1.7.0
pexpect==4.0.1
pickleshare==0.7.4
Pillow==3.1.2
plainbox==0.25
prompt-toolkit==1.0.7
psycopg2==2.6.1
ptyprocess==0.5
pyasn1==0.1.9
pycups==1.9.73
pycurl==7.43.0
Pygments==2.1.3
pygobject==3.20.0
PyJWT==1.3.0
pylint==1.6.4
pyparsing==2.0.3
python-apt==1.1.0b1
python-dateutil==2.5.3
python-debian==0.1.27
python-mimeparse==1.6.0
python-systemd==231
pytz==2016.6.1
pyxdg==0.25
PyYAML==3.12
pyzmq==15.4.0
qtconsole==4.2.1
reportlab==3.3.0
requests==2.9.1
s3transfer==0.1.9
scikit-learn==0.17.1
scipy==0.18.1
semantic-version==2.5.0
sessioninstaller==0.0.0
simplegeneric==0.8.1
six==1.10.0
SQLAlchemy==1.1.2
ssh-import-id==5.5
system-service==0.3
terminado==0.6
texttable==0.8.5
tornado==4.4.1
traitlets==4.3.1
ubuntu-drivers-common==0.0.0
ufw==0.35
unattended-upgrades==0.1
unity-scope-calculator==0.1
unity-scope-chromiumbookmarks==0.1
unity-scope-colourlovers==0.1
unity-scope-devhelp==0.1
unity-scope-firefoxbookmarks==0.1
unity-scope-gdrive==0.7
unity-scope-manpages==0.1
unity-scope-openclipart==0.1
unity-scope-texdoc==0.1
unity-scope-tomboy==0.1
unity-scope-virtualbox==0.1
unity-scope-yelp==0.1
unity-scope-zotero==0.1
urllib3==1.13.1
usb-creator==0.3.0
virtualenv==15.0.3
wcwidth==0.1.7
websocket-client==0.37.0
Werkzeug==0.11.11
widgetsnbextension==1.2.6
wrapt==1.10.8
xdiagnose==3.8.4.1
xkit==0.0.0
xlrd==1.0.0
XlsxWriter==0.7.3
