<h1 id="title" align="center">{{title}}</h1>
<div class="container">
  <div class="ui-widget-header ui-helper-clearfix" style="padding:4px 10px;border-bottom: 0 none">
    <i class="fa fa-search" style="float:left;margin:4px 4px 0 0"></i>
    <input #gb type="text" pInputText size="50" style="float:left" placeholder="Search for Keywords">
  </div>
  <p-dataTable [value]="data"
               [rows]="10"
               [paginator]="true"
               [pageLinks]="3"
               [rowsPerPageOptions]="[5,10,20]"
               [globalFilter]="gb">
    <p-column field="STATE NAME"
              header="State Name"
              [sortable]="true"
              filterMatchMode="contains">
    </p-column>
    <p-column field="CAPITAL"
              header="Capital"
              [sortable]="true"
              filterMatchMode="contains">
      <template let-fakeState="rowData" pTemplate type="body">
        <a routerLink="/states/{{fakeState.CAPITAL}}"
           routerLinkActive="active"
           style="color: #0052A5;">
          {{fakeState.CAPITAL}}
        </a>
      </template>
    </p-column>
    <p-column field="GOVERNOR"
              header="Governor"
              [sortable]="true"
              filterMatchMode="contains">
    </p-column>
    


  </p-dataTable>
</div>

<a [routerLink]="['/candidates/3']">Candidate 3</a>

