<!-- <h1 id="title" align="center">{{title}}</h1>
<div class="container">
  <table id="states_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
  	<thead>
            <tr>
                <th *ngFor="let column of columns">
                    {{column}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let dat of data">
                <td *ngFor="let column of columns">
                	{{dat[column]}}
                </td>
            </tr>
        </tbody>
  </table>
</div> -->

<h3 class="first">Single Column</h3>
<p-dataTable>
    <p-column field="vin" header="Vin" [sortable]="true"></p-column>
    <p-column field="year" header="Year" [sortable]="true"></p-column>
    <p-column field="brand" header="Brand" [sortable]="true"></p-column>
    <p-column field="color" header="Color" [sortable]="true"></p-column>

    <thead>
            <tr>
                <th *ngFor="let column of columns">
                    {{column}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let dat of data">
                <td *ngFor="let column of columns">
                    {{dat[column]}}
                </td>
            </tr>
        </tbody>
</p-dataTable>

<a [routerLink]="['/states/3']">State 3</a>

<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/themes/omega/theme.css" />
<link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/primeng.min.css" />
