<!-- <h1 id="title" align="center">{{title}}</h1>
<div class="container">
  <table id="states_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
  	<thead>
            <tr>
                <th *ngFor="let column of columns">
                    {{column}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let dat of data">
                <td *ngFor="let column of columns">
                	{{dat[column]}}
                </td>
            </tr>
        </tbody>
  </table>
</div> -->

<h3 class="first">Single Column</h3>
<p-dataTable [value]="data">
    <p-column *ngFor="let column of columns" field="{{column}}" header="{{column}}" [sortable]="true"></p-column>






      <!--   <tbody>
            <tr *ngFor="let dat of data">
                <td *ngFor="let column of columns">
                    {{dat[column]}}
                </td>
            </tr>
        </tbody> -->
</p-dataTable>

<a [routerLink]="['/states/3']">State 3</a>

