<h1 id="title" align="center">{{title}}</h1>
<div class="container" *ngIf="!loading">
  <div class="ui-widget-header ui-helper-clearfix" style="padding:4px 10px;border-bottom: 0 none">
    <i class="fa fa-search" style="float:left;margin:4px 4px 0 0"></i>
    <input #gb type="text" pInputText size="50" style="float:left" placeholder="Search for Keywords">
  </div>
  <p-dataTable [value]="data"
               [rows]="10"
               [paginator]="true"
               [pageLinks]="3"
               [rowsPerPageOptions]="[5,10,20]"
               [globalFilter]="gb">
      
    <p-column field="name"
              header="State Name"
              [sortable]="true"
              filterMatchMode="contains">
      <template let-fakeState="rowData" pTemplate type="body">
        <a routerLink="/states/{{fakeState.id}}"
           routerLinkActive="active"
           style="color: #0052A5;">
          {{fakeState.name}}
        </a>
      </template>
    </p-column>

    <p-column field="abbrev"
              header="Abbreviation"
              [sortable]="true"
              filterMatchMode="contains">
      <template let-fakeState="rowData" pTemplate type="body">
          {{fakeState.abbrev}}
      </template>
    </p-column>

    <p-column field="capital"
              header="Capital"
              [sortable]="true"
              filterMatchMode="contains">
      <template let-fakeState="rowData" pTemplate type="body">
          {{fakeState.capital}}
      </template>
    </p-column>

    <p-column field="governor"
              header="Governor"
              [sortable]="true"
              filterMatchMode="contains">
      <template let-fakeState="rowData" pTemplate type="body">
          {{fakeState.governor}}
      </template>
    </p-column>

    <p-column field="population"
              header="Population"
              [sortable]="true"
              filterMatchMode="contains">
      <template let-fakeState="rowData" pTemplate type="body">
          {{fakeState.population}}
      </template>
    </p-column>

    <p-column field="candidate"
              header="Affiliated Politicians"
              [sortable]="true"
              filterMatchMode="contains">
      <template let-fakeState="rowData" pTemplate type="body">
          <ul>
            <li *ngFor="let candidate of fakeState.candidate | slice:0:5; let i=index">
              <a routerLink="/candidates/{{candidate.id}}"
                  routerLinkActive="active"
                  style="color: #0052A5;">
                {{candidate.name}}
              </a>
            </li>
            <div *ngIf="fakeState.candidate.length > 5"><a style="color: #0052A5;" routerLink="/states/{{fakeState.id}}">...</a></div>
          </ul>
      </template>
    </p-column>

    <p-column field="election_to_state"
              header="Elections"
              [sortable]="true"
              filterMatchMode="contains">
      <template let-fakeState="rowData" pTemplate type="body">
        <ul>
            <li *ngFor="let election of fakeState.election_to_state | slice:0:5; let i=index">
              <a routerLink="/elections/{{election.election_id}}"
                  routerLinkActive="active"
                  style="color: #0052A5;">
                {{election.election_name}}
              </a>
            </li>
            <div *ngIf="fakeState.election_to_state.length > 5"><a style="color: #0052A5;" routerLink="/states/{{fakeState.id}}">...</a></div>
          </ul>
      </template>
    </p-column>

  </p-dataTable>
</div>

<div *ngIf="loading">
  <h3 align="center">Please wait the data is loading...</h3>
</div>
