<h1 id="title" align="center">{{title}}</h1>
<div class="container" *ngIf="!loading">
  <div class="ui-widget-header ui-helper-clearfix" style="padding:4px 10px;border-bottom: 0 none">
    <i class="fa fa-search" style="float:left;margin:4px 4px 0 0"></i>
    <input #gb type="text" pInputText size="50" style="float:left" placeholder="Search for Keywords">
  </div>
  <p-dataTable [value]="data"
               [rows]="10"
               [paginator]="true"
               [pageLinks]="3"
               [rowsPerPageOptions]="[5,10,20]"
               [globalFilter]="gb">
      
      <p-column field="name"
                header="Election Name"
                [sortable]="true"
                filterMatchMode="contains">
        <template let-fakeElection="rowData" pTemplate type="body">
          <a routerLink="/elections/{{fakeElection.id}}"
             routerLinkActive="active"
             style="color: #0052A5;">
            {{fakeElection.name}}
          </a>
        </template>
      </p-column>

      <p-column field="date"
                header="Date"
                [sortable]="true"
                filterMatchMode="contains">
        <template let-fakeElection="rowData" pTemplate type="body">
            {{fakeElection.date}}
        </template>
      </p-column>

      <p-column field="election_to_state.state_id"
                header="State"
                [sortable]="true"
                filterMatchMode="contains">
        <template let-fakeElection="rowData" pTemplate type="body">
          <ul>
            <li *ngFor="let state of fakeElection.election_to_state">
              <a routerLink="/states/{{state.state_id}}"
                  routerLinkActive="active"
                  style="color: #0052A5;">
                {{state.state_name}}
              </a>
            </li>
          </ul>          
        </template>
      </p-column>

      <p-column field="level"
                header="Level"
                [sortable]="true"
                filterMatchMode="contains">
        <template let-fakeElection="rowData" pTemplate type="body">
            {{fakeElection.level}}
        </template>
      </p-column>

      <p-column field="candidate_election"
                header="Candidates"
                [sortable]="true"
                filterMatchMode="contains">
        <template let-fakeElection="rowData" pTemplate type="body">
          <ul>
            <li *ngFor="let candidate of fakeElection.candidate_election">
              <a routerLink="/candidates/{{candidate.id}}"
                  routerLinkActive="active"
                  style="color: #0052A5;">
                {{candidate.name}}
              </a>
            </li>
          </ul>
        </template>
      </p-column>

      <p-column field="parties_involved"
                header="Involved Parties"
                [sortable]="true"
                filterMatchMode="contains">
        <template let-fakeElection="rowData" pTemplate type="body">
          <ul>
            <li *ngFor="let party of fakeElection.parties_involved">
              <a routerLink="/parties/{{party.id}}"
                  routerLinkActive="active"
                  style="color: #0052A5;">
                {{party.id}}
              </a>
            </li>
          </ul>
        </template>
      </p-column>

  </p-dataTable>
</div>

<div *ngIf="loading">
  <h3 align="center">Please wait the data is loading...</h3>
</div>
