.page-links{
	padding-top: 20px;
}

.carousel-image{
	max-height: 600px;
	width: auto;
	margin: auto;
}

.link-div{
	text-align: center;
	padding: 10px;
}

.page-link{
	font-size: 40px;
	font-family: helvetica;
}

h3{
	color:#E0162B;
	text-shadow: 1px 2px #939393;
}