<h1 id="title" align="center">{{title}}</h1>
<div class="container">
  <p-dataTable [value]="data"
                 [rows]="10"
                 [paginator]="true"
                 [pageLinks]="3"
                 [rowsPerPageOptions]="[5,10,20]">
        <p-column *ngFor="let column of columns"
                  field="{{column}}"
                  header="{{column}}"
                  [sortable]="true">
        </p-column>
    </p-dataTable>
</div>

<a [routerLink]="['/parties/3']">Party 3</a>

