<h1 id="title" align="center">{{title}}</h1>
<div class="container" *ngIf="!loading">
  <div class="ui-widget-header ui-helper-clearfix" style="padding:4px 10px;border-bottom: 0 none">
    <i class="fa fa-search" style="float:left;margin:4px 4px 0 0"></i>
    <input #gb type="text" pInputText size="50" style="float:left" placeholder="Search for Keywords">
  </div>
  <p-dataTable [value]="data"
               [rows]="10"
               [paginator]="true"
               [pageLinks]="3"
               [rowsPerPageOptions]="[5,10,20]"
               [globalFilter]="gb">
      
    <p-column field="name"
              header="Party Name"
              [sortable]="true"
              filterMatchMode="contains">
      <template let-fakeParty="rowData" pTemplate type="body">
        <a routerLink="/parties/{{fakeParty.id}}"
           routerLinkActive="active"
           style="color: #0052A5;">
          {{fakeParty.name}}
        </a>
      </template>
    </p-column>

    <p-column field="leader"
              header="Leader"
              [sortable]="true"
              filterMatchMode="contains">
      <template let-fakeParty="rowData" pTemplate type="body">
          {{fakeParty.leader}}
      </template>
    </p-column>

    <p-column field="hq"
              header="Headquarters"
              [sortable]="true"
              filterMatchMode="contains">
      <template let-fakeParty="rowData" pTemplate type="body">
          {{fakeParty.hq}}
      </template>
    </p-column>

    <p-column field="candidate"
              header="Affiliated Politicans"
              [sortable]="true"
              filterMatchMode="contains">
      <template let-fakeParty="rowData" pTemplate type="body">
        <ul>
          <li *ngFor="let candidate of fakeParty.candidate | slice:0:8; let i=index">
            <a routerLink="/candidates/{{candidate.id}}"
                routerLinkActive="active"
                style="color: #0052A5;">
              {{candidate.name}}
            </a>
          </li>
          <div *ngIf="fakeParty.candidate.length > 8"><a style="color: #0052A5;" routerLink="/parties/{{fakeParty.id}}">...</a></div>
          <div *ngIf="fakeParty.candidate.length == 0">None</div>
        </ul>
      </template>
    </p-column>

    <p-column field="electoral"
              header="States Controlled"
              [sortable]="true"
              filterMatchMode="contains">
      <template let-fakeParty="rowData" pTemplate type="body">
      <ul>
          <li *ngFor="let state of fakeParty.electoral | slice:0:8; let i=index">
            <a routerLink="/states/{{state.state_id}}"
                routerLinkActive="active"
                style="color: #0052A5;">
              {{state.state_name}}
            </a>
          </li>
          <div *ngIf="fakeParty.candidate.length > 8"><a style="color: #0052A5;" routerLink="/parties/{{fakeParty.id}}">...</a></div>
          <div *ngIf="fakeParty.electoral.length == 0">None</div>
        </ul>
      </template>
    </p-column>

  </p-dataTable>
</div>

<div *ngIf="loading">
  <h3 align="center">Please wait the data is loading...</h3>
</div>
