<h1>State Details</h1>

<div class="panel panel-default">
    <div class="panel-heading">
            <h2 id="title" style="text-align: center;">{{data.name}}</h2>
    </div>
    <div class="panel-body">
        <h3>State Name: {{data.name}}</h3>
        <h3>Capital: {{data.capital}}</h3>
        <h3>Governor: {{data.governor}}</h3>
        <h3>Population: {{data.population}}</h3>
        <h3>Affiliated Canididates:</h3>
	        <ul>
	            <li *ngFor="let candidate of data.candidate">
	              <a routerLink="/candidates/{{candidate.id}}"
	                  routerLinkActive="active"
	                  style="color: #0052A5;">
	                {{candidate.name}}
	              </a>
	            </li>
	        </ul>          
        <h3>Elections:</h3>
	        <ul>
	            <li *ngFor="let election of data.election_to_state">
	              <a routerLink="/states/{{election.election_id}}"
	                  routerLinkActive="active"
	                  style="color: #0052A5;">
	                {{election.election_name}}
	              </a>
	            </li>
	        </ul>          
    </div>
</div>