/* Master Styles */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
  padding-top: 115px;
}

input{
	color:black !important;
}

.ui-widget-header{
	color:white;
	background:#0052A5;
	background-color: #0052A5;
}

.ui-sortable-column{
	color:white;
	background:#0052A5 !important;
	background-color: #0052A5 !important;
}

.ui-state-active{
	color:white;
	background:#E0162B !important;
	background-color: #E0162B !important
}