.page-links{
	padding-top: 20px;
}

.carousel{
	margin-top: 70px;
}

.carousel-image{
	height: 500px !important;
	width: auto;
	margin: auto;
}

.page-link{
	font-size: 40px;
	font-family: helvetica;
}