<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Party People</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='about.css')}}">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.js"></script>

   <script type="text/javascript">$(function(){
  $("#header").load("{{url_for('static', filename='header.html')}}");}) </script>
  </head>
  <body>
  <div class="container" align="center">
	<div id="header"></div>
  		<h1>Welcome to PartyPeople!</h1>
  		<p>Though we might have a silly name, we have a mighty goal. There are enough barriers to voting as it is, so to make the process a little bit easier, PartyPeople provides information about current elections and candidates, as well as information about the political parties and political information about the states in the US.</p>
  		<p>While this site is intended for eligible voters to increase their knowledge about current elections in their area, at both a local, state, and federal level, anyone is welcome to browse for political information. You can go from one page to another, seeing how elections, candidates, parties, and states relate, and increasing your knowledge about the current political arena.</p>
  	</div>

  	<div class="container" align="center">
		<h1>Meet the Team - SWEatShop</h1>
		<div class="row">
			<div class="col-xs-4">
				<img class="cut-out circle mem"
					 src="{{url_for('static', filename='../static/phoenix.jpeg')}}">
				<p class="name">Phoenix Bishea</p>
				<p class="position">Phoenix is a senior studying Computer Science at the University of Texas at Austin. He has previously interned at Multimedia Games and Electronic Arts. In his free time, Phoenix enjoys rock climbing, playing video games, and playing with his cat Chewbacca and his dog Colby Jack.</p>
				<p class="position"><b>Major Responsibilities:</b>Setting up AWS, creating a set of models using SQLAlchemy and creating unit tests for those models</p>
				<p class="position"><b>Number of Commits: </b>18</p>
				<p class="position"><b>Number of Issues: </b>5</p>
				<p class="position"><b>Number of Unit Tests: </b>0</p>
			</div>
			<div class="col-xs-4">
				<img class="cut-out circle mem"
					 src="{{url_for('static', filename='../static/itoro.jpg')}}">
				<p class="name">Itoro Esiere</p>
				<p class="position">Itoro is a senior at the University of Texas at Austin studying Computer Science. In the past, he's interned at Hallya Entertainment. In his spare time, he enjoys gaming, specifically trading card and video games, and building Gunpla.</p>
				<p class="position"><b>Major Responsibilities:</b>Creating a UML class diagram, creating the pages for Parties and Candidates</p>
				<p class="position"><b>Number of Commits: </b>9</p>
				<p class="position"><b>Number of Issues: </b>3</p>
				<p class="position"><b>Number of Unit Tests: </b>0</p>
			</div>
			<div class="col-xs-4">
				<img class="cut-out circle mem"
					 src="{{url_for('static', filename='../static/rachael.jpg')}}">
				<p class="name">Rachael Metcalf</p>
				<p class="position">Rachael is a senior Computer Science major at the University of Texas at Austin. She has interned two summers at HomeAway and is returning there full time once she graduates. In her spare time, she enjoys drawing, animating, and occasionally programming a video game.</p>
				<p class="position"><b>Major Responsibilities:</b>Designing the UI of the website, creating the home carousel page, helping others with styling</p>
				<p class="position"><b>Number of Commits: </b>8</p>
				<p class="position"><b>Number of Issues: </b>4</p>
				<p class="position"><b>Number of Unit Tests: </b>0</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4">
				<img class="cut-out circle mem"
					 src="{{url_for('static', filename='../static/julie.jpg')}}">
				<p class="name">Julie Muzy</p>
				<p class="position">Julie is a junior at the University of Texas at Austin, studing Computer Science and French. In the past, she has had internships at Hewlett-Packard, General Election - Aviation, and Google. In her spare time, she likes to do outdoor activities like hiking, kayaking, and swimming, and occasionally plays some video games.</p>
				<p class="position"><b>Major Responsibilities:</b> Team leader for Phase 1, collecting data, creating the about page, designing the API on Apiary</p>
				<p class="position"><b>Number of Commits: </b>6</p>
				<p class="position"><b>Number of Issues: </b>8</p>
				<p class="position"><b>Number of Unit Tests: </b>0</p>
			</div>
			<div class="col-xs-4">
				<img class="cut-out circle mem"
					 src="{{url_for('static', filename='../static/nathan.jpg')}}">
				<p class="name">Nathan Seegmiller</p>
				<p class="position">Nathan is a senior studying Computer Science at the University of Texas at Austin. He interned at Amazon during the summer between his junior and senior year, and is returing to Amazon full time once he graduates. In his spare time, Nathan enjoys running and playing the guitar. </p>
				<p class="position"><b>Major Responsibilities:</b> Setting up AWS and Flask, creating a set of models using SQLAlchemy and creating unit tests for those models</p>
				<p class="position"><b>Number of Commits: </b>10</p>
				<p class="position"><b>Number of Issues: </b>6</p>
				<p class="position"><b>Number of Unit Tests: </b>25</p>
			</div>
			<div class="col-xs-4">
				<img class="cut-out circle mem"
					 src="{{url_for('static', filename='../static/justin.jpg')}}">
				<p class="name">Justin Tran</p>
				<p class="position">Justin is a senior studying Computer Science at the University of Texas at Austin. In the past, he has interned at Spiceworks. Justin enjoys playing soccer and the ukulele in his spare time.</p>
				<p class="position"><b>Major Responsibilities:</b>Creating a UML class diagram, creating each of the models pages</p>
				<p class="position"><b>Number of Commits: </b>5</p>
				<p class="position"><b>Number of Issues: </b>5</p>
				<p class="position"><b>Number of Unit Tests: </b>0</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4"></div>
			<div class="col-xs-4">
				<img class="cut-out circle mem"
					 src="{{url_for('static', filename='../static/jason.jpg')}}">
				<p class="name">Jason Vila</p>
				<p class="position">Jason is a senior studing Computer Science at the University of Texas at Austin. He as interned at IBM, JP Morgan and Chase, Comfort Systems USA and Rice Residential Design. In his free time, he enjoys playing frisbee and multiple instruments, like the guitar, the ukulele and the drums.</p>
				<p class="position"><b>Major Responsibilities:</b>Collecting data, create the pages for States and Elections</p>
				<p class="position"><b>Number of Commits: </b>2</p>
				<p class="position"><b>Number of Issues: </b>3</p>
				<p class="position"><b>Number of Unit Tests: </b>0</p>
			</div>
			<div class="col-xs-4"></div>
		</div>
	</div>

	<div class="container">
  		<h1 >Stats</h1>
  		<p><b>Total Commits: </b>60</p>
  		<p><b>Total Issues: </b>23</p>
  		<p><b>Total Unit Tests: </b>25</p>
  		<p><b>Apiary API: </b><a href="http://docs.partypeople.apiary.io/#">Apiary Documentation</a></p>
  		<p><b>GitHub Issue Tracker: </b><a href="https://github.com/cs373gc-fall-2016/PartyPeople/issues">GitHub Issues</a></p>
  		<p><b>GitHub Repo: </b><a href="https://github.com/cs373gc-fall-2016/PartyPeople">Classroom Repo</a> and <a href="https://github.com/JulieM13/PartyPeople-Phase1/tree/dev">Team Development Repo</a></p>
  		<p><b>GitHub Wiki: </b><a href="https://github.com/cs373gc-fall-2016/PartyPeople/wiki">PartyPeople Wiki</a></p>
  	</div>

  	<div class="container">
  		<h1>Data</h1>
  		<b><a href="https://developers.google.com/civic-information/docs/v2/">Google Civic API</a>:</b> Candidates (names, party affiliation, elections they're in), Elections (basic information)
  		<br>
  		<b><a href="https://sunlightlabs.github.io/openstates-api/">Open States API</a>:</b> all candidates in a State
  		<br>
  		<b><a href="https://api.ballotpedia.org/v1/documentation">BallotPedia</a>:</b> Elections(type, state it's in, description, election date), Candidates (names, summary, date of birth, party affiliation, previous offices held)
  		<br>
  		<b><a href="https://www.mediawiki.org/wiki/API:Tutorial">MediaWiki API</a>:</b> States (governors, basic State information), Parties (basic party information)
  		<br>
  		<b><a href="https://api.open.fec.gov/developers/">OpenFEC API</a>:</b> Federal Elections information and date, Candidate information
  		<br>
  		<b><a href="http://elections.huffingtonpost.com/pollster/api">Huffington Post API</a>:</b> Polling information
  		<br>

  	</div>

  	<div class="container" style="padding-bottom: 50px">
  		<h1>Tools</h1>
  		<h3>Front End</h3>
  		<b>Twitter Bootstrap</b>
			<ul>
				<li><b>Carousel</b> - used to create the home page with sliding images.</li>
				<li><b>Data Tables</b> - used to create a table that is sortable by any column, and includes a search bar to filter the table rows based on key words.</li>
				<li><b>Grid System</b> - used to make the website responsive and more organized.</li>
			</ul>
  		<h3>Back End</h3>
			<b>AWS Hosting</b>
			<br>
			<b>Flask</b>
			<br>
			<b>SQLAlchemy</b>
  		<h3>Others</h3>
			<b>Apiary API Design</b> - used to design an API so other developers can get our data. Apiary has a pretty simple UI and an in-site editor that makes creating the documentation easier.
			<br>
			<b>Slack</b> - used for communication. Our team created a GitHub channel, where all GitHub updates were posted. We also had a Scheduling channel, where we posted when we were planning on working and which other team members could join. 
			<br>
			<b>yUML</b> - lets the user draw simple UML diagrams online. UML diagrams help visualize the interactions between classes or objects. In our case, we were able to map the interactions between each of our pillars, and list out the attributes in each pillar.
			<br>
			<b>ZenHub GitHub Extension</b> - changes the UI in GitHub so it is easier to visualize tasks and their current state. ZenHub creates boards in GitHub, so you can click and drag tasks across boards. Our team mainly used the boards to categorize the tasks as To-Do, In Progress, In-Review, and Closed. There are more advanced features that our team has not yet explored, but may get to as the project progresses.
  	</div>
  
  </body>
</html>
