<html>
    <head></head>
    <body>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8d/Garyjohnsonphoto_-_modified.jpg/200px-Garyjohnsonphoto_-_modified.jpg" width="300px" id="image">
        <h3 id="title">Gary Earl Johnson; Candidate</h3>
        <ul id="elements">
            <li>name: Gary Earl Johnson</li>
            <li>date of birth: January 1, 1953</li>
            <li>current position or job: politician</li>
            <li>party affiliation: Libertarian</li>
            <li>elections they're running in: 2016 Presidential Election</li>
            <li>poll numbers: 6% favorable</li>
            <li>Contact info:</li>
            <ul>
                <li>Mail:Johnson Weld Campaign PO Box 4422, Salt Lake City, UT  84110-4422</li>
                <li>Email: info@johnsonweld.com</li>
                <li>Phone: 801-303-7922</li>
                <li>Website: <a href="https://www.johnsonweld.com/">https://www.johnsonweld.com/</a></li>
                <li>Twitter: <a href="https://twitter.com/GovGaryJohnson">https://twitter.com/GovGaryJohnson</a></li>
            </ul>
        </ul>
        <ul id="related">
        <!-- party, state, election -->
            Related Links
            <li><a href="/parties/libertarian">Libertarian</a></li>
            <li><a href="/elections/general_election_2016">2016 Presidential Election</a></li>
        </ul>
    </body>
</html>