<html>
    <head></head>
    <body>
        <img src="https://upload.wikimedia.org/wikipedia/commons/e/ef/Nancy_Pelosi_2013.jpg" width="300px" id="image">
        <h3 id="title">Nancy Pelosi; Candidate</h3>
        <ul id="elements">
            <li>Nancy Patricia D'Alesandro Pelosi</li>
            <li>date of birth: March 26, 1940</li>
            <li>current position or job: Minority Leader of the United States House of Representative</li>
            <li>party affiliation: Democrat</li>
            <li>elections they're running in: California's 12th congressional district</li>
            <li>poll numbers: 26% favorable</li>
            <li>Contact info:</li>
            <ul>
                <li>Mail: 233 Cannon H.O.B Washington, DC   20515</li>
                <li>Email: americanvoices@mail.house.gov</li>
                <li>Phone: 801-303-7922</li>
                <li>Website: <a href="https://pelosi.house.gov/">https://pelosi.house.gov/</a></li>
                <li>Twitter: <a href="https://twitter.com/nancypelosi">https://twitter.com/nancypelosi</a></li>
            </ul>
        </ul>
        <ul id="related"></ul>
        <!-- party, state, election -->
    </body>
</html>