<html>
    <head></head>
    <body>
        <img src="https://upload.wikimedia.org/wikipedia/commons/8/87/Ted_Cruz,_official_portrait,_113th_Congress.jpg" width="300px" id="image">
        <h3 id="title">Ted Cruz; Candidate</h3>
        <ul id="elements">
            <li>name: Rafael Edward "Ted" Cruz</li>
            <li>date of birth: December 22, 1970</li>
            <li>current position or job: United States Senator for Texas</li>
            <li>party affiliation: Republican</li>
            <li>elections they're running in: 2016 Presidential Election - Republican Nomination</li>
            <li>poll numbers: 23% favorable</li>
            <li>Contact info:</li>
            <ul>
                <li>Mail:Johnson Weld Campaign PO Box 4422, Salt Lake City, UT  84110-4422</li>
                <li>Email: www.cruz.senate.gov/contact.cfm</li>
                <li>Phone: 202-224-5922</li>
                <li>Website: <a href="http://www.tedcruz.org/home/">http://www.tedcruz.org/home/</a></li>
                <li>Twitter: <a href="http://twitter.com/SenTedCruz">http://twitter.com/SenTedCruz</a></li>
            </ul>
        </ul>
        <ul id="related">
            Related Links
            <li><a href="/republican">Republican</a></li>
            <li><a href="/texas">Texas</a></li>
        </ul>
    </body>
</html>