<html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <h3 id="title">Elections</h3>
        <div class="container">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Type</th>
                <th>Location</th>
                <th>Candidates</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a href="elections/general_election_2016">US 2016 General Election</a></td>
                <td>November 8, 2016</td>
                <td>Federal</td>
                <td>US</td>
                <td>
                    <ul>
                        <li>Donald Trump (Republican)</li>
                        <li>Hillary Clinton (Democratic)</li>
                        <li>Gary Johnson (Libertarian)</li>
                        <li>Jill Stein (Green)</li>
                        <li>Evan McMullin (Independent)</li>
                        <li>Darrell Castle (Constitution)</li>
                    </ul>
                </td>
              </tr>
              <tr>
                <td><a href="elections/california_12_district_2016">California's 12th Congressional District election, 2016</a></td>
                <td>November 8, 2016</td>
                <td>State</td>
                <td>12, California, US</td>
                <td>
                    <ul>
                        <li>Nancy Pelosi (Democratic)</li>
                        <li>Preston Picus (Independent)</li>
                    </ul>
                </td>
              </tr>
              <tr>
                <td><a href="elections/texas_23_district_2016">Texas' 23rd Congressional District election, 2016</a></td>
                <td>November 8, 2016</td>
                <td>State</td>
                <td>23, Texas, US</td>
                <td>
                    <ul>
                        <li>Will Hurd (Republic)</li>
                        <li>Pete Gallego (Democratic)</li>
                        <li>Ruben Corvalan (Libertarian)</li>
                    </ul>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
    </body>
</html>