<html>
   <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.js"></script>

        <script type="text/javascript">$(function(){
        $("#header").load("{{url_for('static', filename='header.html')}}");}) </script>
      </head>
   <body>
    <div class="container">
      <div id="header"></div>
       <img src="http://thecommonconstitutionalist.files.wordpress.com/2012/01/ballot-box.png" id="image">
       <h3 id="title">Elections</h3>
       <ul id="elements">
       	<li>name: California's 10th Congressional District election</li>
       	<li>date: November 8, 2016</li>
       	<li>type: State</li>
       	<li>location: 10, California, US</li>
       	<li>Candidates:</li>
       	<ul>
       		<li>Jeff Denham (Republican)</li>
       		<li>Michael Eggman (Democratic)</li>
       	</ul>

       </ul>
       <ul id="related"></ul>
     </div>
   </body>
</html>