<html>
   <head></head>
   <body>
       <img src="http://thecommonconstitutionalist.files.wordpress.com/2012/01/ballot-box.png" id="image">
       <h3 id="title">Elections</h3>
       <ul id="elements">
       	<li>name: California's 10th Congressional District election</li>
       	<li>date: November 8, 2016</li>
       	<li>type: State</li>
       	<li>location: 10, California, US</li>
       	<li>Candidates:</li>
       	<ul>
       		<li>Jeff Denham (Republican)</li>
       		<li>Michael Eggman (Democratic)</li>
       	</ul>

       </ul>
       <ul id="related"></ul>
   </body>
</html>