<html>
   <head></head>
   <body>
       <img src="http://thecommonconstitutionalist.files.wordpress.com/2012/01/ballot-box.png" id="image">
       <h3 id="title">Elections</h3>
       <ul id="elements">
        <li>name: California's 12th Congressional District election, 2016</li>
        <li>date: November 8, 2016</li>
        <li>type: State</li>
        <li>location: 12, California, US</li>
        <li>Candidates:</li>
        <ul>
          <li>Nancy Pelosi (Democratic)</li>
          <li>Preston Picus (Independent)</li>
        </ul>

       </ul>
       <ul id="related"></ul>
   </body>
</html>