<html>
   <head></head>
   <body>
       <img src="http://thecommonconstitutionalist.files.wordpress.com/2012/01/ballot-box.png" id="image">
       <h3 id="title">Elections</h3>
       <ul id="elements">
       	<li>name: US 2016 General Election</li>
       	<li>date: November 8, 2016</li>
       	<li>type: Federal</li>
       	<li>location: US</li>
       	<li>Candidates:</li>
       	<ul>
       		<li>Donald Trump (Republican)</li>
       		<li>Hillary Clinton (Democratic)</li>
       		<li>Gary Johnson (Libertarian)</li>
       		<li>Jill Stein (Green)</li>
       		<li>Evan McMullin (Independent)</li>
       		<li>Darrell Castle (Constitution)</li>
       	</ul>

       </ul>
       <ul id="related"></ul>
   </body>
</html>