<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags always come first -->
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name=
            "viewport">
        <meta content="ie=edge" http-equiv="x-ua-compatible">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        
        <title></title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.js"></script>

        <script type="text/javascript">$(function(){
        $("#header").load("{{url_for('static', filename='header.html')}}");}) </script>
    </head>
    <body>
        <!-- Bootstrap -->
        <script src=
            "https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> 
        <script src=
            "https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js"></script> 
        <script src=
            "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js"></script>
        <!-- main html -->
        <div class="container">
            <div id="header"></div>
            <div class="row">
                <div class="col-lg-3">
                    <h2 id="title" style="text-align: center;">Presidential Election</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3"><img height="400px" id="image" src="http://www.ncsbe.gov/portals/0/Images/icons/vote_icon.png" style="padding-bottom:15px"></div>
                <div class="col-lg-1"></div>
                <div class="col-lg-8" >
                    <ul id="elements">
                        <li>name: US 2016 General Election</li>
                        <li>date: November 8, 2016</li>
                        <li>type: Federal</li>
                        <li>location: US</li>
                        <li>Candidates:</li>
                        <ul>
                          <li>Donald Trump (Republican)</li>
                          <li>Hillary Clinton (Democratic)</li>
                          <li>Gary Johnson (Libertarian)</li>
                          <li>Jill Stein (Green)</li>
                          <li>Evan McMullin (Independent)</li>
                          <li>Darrell Castle (Constitution)</li>
                        </ul>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <ul id="related">
                        Related Links
                        <li><a href="/states/california">California</a></li>
                        <li><a href="/candidates/gary_johnson">Gary Johnson</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>
