<html>
    <head></head>
    <body>
        <img src="https://qph.ec.quoracdn.net/main-qimg-a4c6d6da0a974033606804c7f42c1355?convert_to_webp=true" width=300 id="image">
        <h3 id="title">Libertarian; Party</h3>
        <ul id="elements">
            <li>name: Libertarian Party</li>
            <li>description: promotes civil liberties, non-interventionism, laissez-faire capitalism and the abolition of the welfare state.</li>
            <li>politicians affiliated: Gary Johnson, William Weld, Nicholas Sarwark</li>
            <li>states controlled: None</li>
            <li>HQ address: 1444 Duke Street; Alexandria, Virigna   22314</li>
            <li>leader / face of the party: Nicholas Sarwark (Chairperson)</li>
        </ul>
        <ul id="related">Related Links
            <li><a href="/gary_johnson">Gary Johnson</a></li>
            <li><a href="/general_election_2016">2016 Presidential Election</a></li>
        </ul>
    </body>
</html>