<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags always come first -->
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name=
            "viewport">
        <meta content="ie=edge" http-equiv="x-ua-compatible">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        
        <title>Party People</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.js"></script>

        <script type="text/javascript">$(function(){
        $("#header").load("{{url_for('static', filename='header.html')}}");}) </script>
    </head>
    <body>
        <!-- Bootstrap -->
        <script src=
            "https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> 
        <script src=
            "https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js"></script> 
        <script src=
            "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js"></script>
        <!-- main html -->
        <div class="container">
            <div id="header"></div>
            <div class="row">
                <div class="col-lg-3">
                    <h2 id="title" style="text-align: center;">Democratic</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3"><img width="350px" id="image" src="http://d3n8a8pro7vhmx.cloudfront.net/dplac/sites/1/meta_images/original/dem-donkey-right-copy.png?1413244000"
                    style="padding-bottom:15px"></div>
                <div class="col-lg-1"></div>
                <div class="col-lg-8" >
                    <ul id="elements">
                        <li>Name: Democratic party</li>
                        <li>Description: One of the two major contemporary political parties in the US, rival to the Republican Party. The party's philosophy of modern liberalism advocates social and economic equality, along with the welfare state. It seeds to provide government intervention and regulation in the economy. These interventions, such as the introduction of social programs, support for labor unions, moves toward universal health care and equal opportunity, consumer protection, and environmental protection form the core of the party's economic policy.</li>
                        <li>Politicians affiliated: Nancy Pelosi, Hillary Clinton, Barack Obama</li>
                        <li>States controlled: Oregon, California, Illinois, Maryland, New Jersey, New Hampshire, Connecticut, Massachusetts, Vermont, Rhode Island</li>
                        <li>HQ Address: 420 South Capitol Street SE; Washington, DC 20003</li>
                        <li>Leader / Face of the party: Donna Brazile (chairperson)</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <ul id="related">
                        Related Links
                        <li><a href="/states/california">California</a></li>
                        <li><a href="/candidates/nancy_pelosi">Nancy Pelosi</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>
