<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags always come first -->
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name=
            "viewport">
        <meta content="ie=edge" http-equiv="x-ua-compatible">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        
        <title></title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.js"></script>

        <script type="text/javascript">$(function(){
        $("#header").load("{{url_for('static', filename='header.html')}}");}) </script>
    </head>
    <body>
        <!-- Bootstrap -->
        <script src=
            "https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> 
        <script src=
            "https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js"></script> 
        <script src=
            "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js"></script>
        <!-- main html -->
        <div class="container">
            <div id="header"></div>
            <div class="row">
                <div class="col-lg-3">
                    <h2 id="title" style="text-align: center;">Libertarian</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3"><img width="350px" id="image" src="https://qph.ec.quoracdn.net/main-qimg-a4c6d6da0a974033606804c7f42c1355?convert_to_webp=true"
                    style="padding-bottom:15px"></div>
                <div class="col-lg-1"></div>
                <div class="col-lg-8" >
                    <ul id="elements">
                        <li>Name: Libertarian Party</li>
                        <li>Description: promotes civil liberties, non-interventionism, laissez-faire capitalism and the abolition of the welfare state.</li>
                        <li>Politicians affiliated: Gary Johnson, William Weld, Nicholas Sarwark</li>
                        <li>States controlled: None</li>
                        <li>HQ Address: 1444 Duke Street; Alexandria, Virigna   22314</li>
                        <li>Leader / Face of the party: Nicholas Sarwark (Chairperson)</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <ul id="related">
                        Related Links
                        <li><a href="/candidates/gary_johnson">Gary Johnson</a></li>
                        <li><a href="/elections/general_election_2016">2016 Presidential Election</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>