<html>
    <head></head>
    <body>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9b/Republicanlogo.svg/2000px-Republicanlogo.svg.png" width=300 id="image">
        <h3 id="title">Republican; Party</h3>
        <ul id="elements">
            <li>name: Republican Party (GOP - Grand Old Party)</li>
            <li>description: One of two major contemporary political parties in the US, rival to the Democratic Pary. Current ideology is conservatism, believing in free market capitalism, free enterprise, business, a strong national defense, deregulation, restrictions on labor unions, social-conservative policies (particular opposition to abortion and same sex marriage, and traditional values (usually with Judeo-Christian ethical foundation).</li>
            <li>politicians affiliated: Donald Trump, Ted Cruz, Paul Ryan, Mike Pence</li>
            <li>states controlled: Idaho, Montana, Wyoming, North Dakota, South Dakota, Nevada, Utah, Arizona, Nebraska, Oklahoma, Texas, Missouri, Arkansas, Louisiana, Alabama, Mississippi, Tennessee, Florida, Georgia, North Carolina, South Carolina, Virginia, West Virginia, Pennsylvania, Ohio, Indiana, Michigan, Wisconsin</li>
            <li>HQ address: 310 First Street SE; Washington, DC   20003</li>
            <li>leader / face of the party: Reince Priebus (chairperson)</li>
        </ul>
        <ul id="related">Related Links
            <li><a href="/ted_cruz">Ted Cruz</a></li>
            <li><a href="/texas">Texas</a></li>
        </ul>
    </body>
</html>