<html>
    <head></head>
    <body>
        <img src="http://d3n8a8pro7vhmx.cloudfront.net/dplac/sites/1/meta_images/original/dem-donkey-right-copy.png?1413244000" width=300 id="image">
        <h3 id="title">Democratic; Party</h3>
        <ul id="elements">
            <li>name: Democratic party</li>
            <li>description: One of the two major contemporary political parties in the US, rival to the Republican Party. The party's philosophy of modern liberalism advocates social and economic equality, along with the welfare state. It seeds to provide government intervention and regulation in the economy. These interventions, such as the introduction of social programs, support for labor unions, moves toward universal health care and equal opportunity, consumer protection, and environmental protection form the core of the party's economic policy.</li>
            <li>politicians affiliated: Nancy Pelosi, Hillary Clinton, Barrack Obama</li>
            <li>states controlled: Oregon, California, Illinois, Maryland, New Jersey, New Hampshire, Connecticut, Massachusetts, Vermont, Rhode Island</li>
            <li>HQ address: 420 South Capitol Street SE; Washington, DC 20003</li>
            <li>leader / face of the party: Donna Brazile (chairperson)</li>
        </ul>
        <ul id="related">Related Links
            <li><a href="/states/california">California</a></li>
            <li><a href="/candidates/nancy_pelosi">Nancy Pelosi</a></li>
        </ul>
    </body>
</html>