<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags always come first -->
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name=
            "viewport">
        <meta content="ie=edge" http-equiv="x-ua-compatible">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        
        <title></title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.js"></script>

        <script type="text/javascript">$(function(){
        $("#header").load("{{url_for('static', filename='header.html')}}");}) </script>
    </head>
    <body>
        <!-- Bootstrap -->
        <script src=
            "https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> 
        <script src=
            "https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js"></script> 
        <script src=
            "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js"></script>
        <!-- main html -->
        <div class="container">
            <div id="header"></div>
            <div class="row">
                <div class="col-lg-3">
                    <h2 id="title" style="text-align: center;">Alaska</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3"><img height="400px" id="image" src="http://dynamiclearningmaps.org/sites/default/files/pictures/states/AK_state.png" style="padding-bottom:15px"></div>
                <div class="col-lg-1"></div>
                <div class="col-lg-8" >
                    <ul id="elements">
                        <li>name: Alaska</li>
                        <li>capital: Juneau</li>
                        <li>population: 735132</li>
                        <li>governor: Bill Walker</li>
                        <li>majority party affliation: Republican</li>
                        <li>Elections:</li>
                        <ul>
                          <li>US 2016 General Election</li>
                        </ul>
                        <li>Representatives:</li>
                        <ul>
                          <li>Les Gara</li>
                          <li>Lora Reinbold</li>
                          <li>Jim Colver</li>
                        </ul>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <ul id="related">
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>
