<html>
   <head></head>
   <body>
       <img src="http://thecommonconstitutionalist.files.wordpress.com/2012/01/ballot-box.png" id="image">
       <h3 id="title">States</h3>
       <ul id="elements">
       	<li>name: Alabama</li>
       	<li>capital: Montgomery</li>
       	<li>population: 4833722</li>
       	<li>governor: Robert Bentley</li>
        <li>majority party affliation: Republican</li>
        <li>Elections:</li>
        <ul>
          <li>US 2016 General Election</li>
        </ul>
       	<li>Representatives:</li>
       	<ul>
       		<li>John W. Rogers</li>
       		<li>Mary Moore</li>
          <li>Paul Beckman</li>
       	</ul>
       </ul>
       <ul id="related"></ul>
   </body>
</html>