<html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <h3 id="title">States</h3>
        <div class="container">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Capital</th>
                <th>Population</th>
                <th>Governor</th>
                <th>Majority Party</th>
                <th>Elections</th>
                <th>Represenatives</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a href="states/alaska">Alaska</a></td>
                <td>Juneau</td>
                <td>735132</td>
                <td>Bill Walker</td>
                <td><a href="parties/republican">Republican</a></td>
                <td>
                  <ul>
                    <li>US 2016 General Election</li>
                  </ul>
                </td>
                <td>
                  <ul>
                    <li>Les Gara</li>
                    <li>Lora Reinbold</li>
                    <li>Jim Colver</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td><a href="states/california">California</a></td>
                <td>Sacramento</td>
                <td>38332521</td>
                <td>Jerry Brown</td>
                <td><a href="parties/democratic">Democratic</a></td>
                <td>
                  <ul>
                    <li>US 2016 General Election</li>
                  </ul>
                </td>
                <td>
                  <ul>
                    <li>Toni Atkins</li>
                    <li>Mike A. Gipson</li>
                    <li>Rob Bonta</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td><a href="states/texas">Texas</a></td>
                <td>Austin</td>
                <td>26448193</td>
                <td>Greg Abbott</td>
                <td><a href="parties/republican">Republican</a></td>
                <td>
                  <ul>
                    <li>US 2016 General Election</li>
                  </ul>
                </td>
                <td>
                  <ul>
                    <li>Ted Cruz</li>
                    <li>Elliott Naishtat</li>
                    <li>Ron Simmons</li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
    </body>
</html>