<html>
   <head></head>
   <body>
       <img src="http://thecommonconstitutionalist.files.wordpress.com/2012/01/ballot-box.png" id="image">
       <h3 id="title">States</h3>
       <ul id="elements">
       	<li>name: California</li>
       	<li>capital: Sacramento</li>
       	<li>population: 38332521</li>
       	<li>governor: Jerry Brown</li>
        <li>majority party affliation: Democratic</li>
        <li>Elections:</li>
        <ul>
          <li>US 2016 General Election</li>
        </ul>
       	<li>Representatives:</li>
       	<ul>
       		<li>Toni Atkins</li>
       		<li>Mike A. Gipson</li>
          	<li>Rob Bonta</li>
       	</ul>
       </ul>
       <ul id="related"></ul>
   </body>
</html>