<html>
   <head></head>
   <body>
       <img src="http://thecommonconstitutionalist.files.wordpress.com/2012/01/ballot-box.png" id="image">
       <h3 id="title">States</h3>
       <ul id="elements">
       	<li>name: Texas</li>
       	<li>capital: Austin</li>
       	<li>population: 26448193</li>
       	<li>governor: Greg Abbott</li>
        <li>majority party affliation: Republican</li>
        <li>Elections:</li>
        <ul>
          <li>US 2016 General Election</li>
        </ul>
       	<li>Representatives:</li>
       	<ul>
       		<li>Ted Cruz</li>
       		<li>Elliott Naishtat</li>
          <li>Ron Simmons</li>
       	</ul>
       </ul>
       <ul id="related"></ul>
   </body>
</html>