<div class="panel panel-default" style="margin-top:10px;">
	<div class="panel-heading">TITLE</div>
	<div class="panel-body">
	    <div class="table-responsive">
	        <table class="table">
	            <!-- <thead>
	                <tr>
	                    <th *ngFor="let column of columns">
	                        {{column}}
	                    </th>
	                </tr>
	            </thead>
	            <tbody>
	                <tr *ngFor="let dat of data">
	                    <td *ngFor="let column of columns">
	                        {{dat.column}}
	                    </td>
	                </tr>
	            </tbody> -->
	        </table>
	    </div>
	</div>
</div>

